<ion-header>
  <ion-toolbar>
    <img slot="start" class="toolbar_logo" src="assets/icon/favicon.png" alt="">
    <ion-title slot="start" style="width: fit-content;">
      <h1 class="gradient-text">ShareWise</h1>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" class="tickerSearch">
    <ion-input class="ticker-input" placeholder=" Enter Ticker" [(ngModel)]="ticker"></ion-input>
    <ion-button slot="end" (click)="fetchData()">Go</ion-button>
  </ion-item>

  <div id="chartContainer" class="full-screen">
    <canvas id="myChart"></canvas>
  </div>

  <ion-card class="sma-card">
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        Show 200-day SMA
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="showSMA" (ionChange)="toggleSMA()"></ion-checkbox>
    </ion-item>
  </ion-card>
  <ion-card class="sma-card">
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        Show 50-day EMA
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="showEMA" (ionChange)="toggleEMA()"></ion-checkbox>
    </ion-item>
  </ion-card>

  <ion-datetime [(ngModel)]="startDateInput" (ionChange)="startChanged()" value="2022-01-02" presentation="date"></ion-datetime>
  <ion-datetime></ion-datetime>


</ion-content>